* {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Work Sans", sans-serif;
}
/* common used style  */
.btn {
  padding: 20px 40px;
  color: #005fac;
  font-size: 20px;
  font-weight: 600;
  border-radius: 5px;
  border: none;
}
/* banner style start  */
.banner {
  background-image: url("../images/banner/banner3.png");
  background-size: cover;

  height: 100vh;
  display: flex;
  justify-content: right;
  align-items: center;
  color: #fff;
  padding-bottom: 50px;
}
.banner-container {
  width: 50%;
  margin: 200px;
}
.banner-title {
  text-align: right;
  font-size: 65px;
  font-weight: 700;
  margin-left: 50px;
}
.banner-description {
  text-align: right;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin-left: 260px;
  padding: 20px 0;
}
.banner-btn {
  display: flex;
  justify-content: right;
}
/* main start  */
.main {
  max-width: 1140px;
  margin: auto;
}
.section-container {
  display: flex;
  gap: 120px;
  align-items: center;
  margin: 150px 0px;
}
.section-img {
  width: 450px;
}
.section-text {
  width: 50%;
}
.section-title {
  color: #151414;
  font-size: 40px;
  font-weight: 700;
  padding: 30px 0;
}
.section-description {
  color: #444343;
  line-height: 26px;
  width: 55%;
}
.section-list {
  padding: 20px 0px;
}

.section-list-item {
  list-style: none;
  display: flex;
  align-items: center;
  padding: 8px 0px;
}
.check {
  margin-right: 5px;
}
/* my plan section started  */
.my-plan-header {
  width: 20%;
  margin: auto;
  padding: 100px 0;
}
.plans-row {
  display: flex;
  gap:80px;
}
.plan {
  text-align: center;
}
.plan-title {
  padding: 10px 0;
  color: #151414;
  font-size: 30px;
  font-weight: 700;
}
.plan-description {
  color: #737272;
  text-align: center;
  font-size: 25px;
  font-weight: 500;
}
.plan-img {
  width: 70px;
}
.watch-photo{
    background-image: url("../images/watch.png"),url("../images/gradient1.png");
    background-blend-mode:soft-light;
    padding: 50px;
    margin: 130px 0;
    border-radius: 5px;
}
.watch-text{
color: #FFF;
font-size: 40px;
font-weight: 700;
width:50%;
margin-bottom:20px;
}


